:root {
    --lightblack: #212121;
    --gray: #757575;
    --white: #FFFFFF;
    --blue: #2196F3;
    --black: #000000;
    --darkgray: #2F303A;
    --dirtywhite: #ECECEC;
    --creamwhite: #F5F4FA;
}